########################
# Semana 2 – Python
########################
__pycache__/
*.pyc
.env
.venv/

########################
# Airflow
########################
airflow_env/
airflow.db
airflow.cfg
logs/

########################
# Semana 4 – Monitoring
########################
statsd_exporter*
*.tar.gz

########################
# Prometheus
########################
data/
wal/

########################
# Grafana
########################
grafana.db

########################
# IDE / OS
########################
.vscode/
.idea/
.DS_Store
